@import "tailwindcss";

:root {
  /* Deep Evergreen */
  --background: #052e16;
  /* Frosted Snow */
  --foreground: #F0F8FF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-syne: var(--font-syne);
  --font-manrope: var(--font-manrope);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-syne), sans-serif;
}

